<%inherit file="base.html"/>

<%def name="head()">
<script>
    function deleteBas(bas_id)
    {
        if(confirm("ยืนยันการลบ?"))
        {
            window.location.href = "/admin/bas/delete?bas_id="+bas_id;
        }
    }
</script>
</%def>

<%def name="body()">
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-sitemap"></i>
            <h3 class="box-title">รายชื่อของอุปกรณ์</h3>
        </div>
        <div class="box-body">
            <div class="container">
                % if permit.match(current_user.username,'/admin/bas/add'):
                <div class="pull-right bottom10">
                     <a href="/admin/bas/add" class="btn btn-sm btn-info">เพิ่มอุปกรณ์เชื่อมต่อ</a>
                </div>
                % endif

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ชื่ออุปกรณ์</th>
                            <th>ชื่อโดเมน</th>
                            <th>ที่อยู่ IP อุปกรณ์</th>
                            <th>กุญแจที่ใช้ร่วมกัน</th>
                            <th>ประเภทอุปกรณ์</th>
                            <th>โซนเวลา</th>
                            <th>พอร์ตออฟไลน์</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        % for bas in bas_list:
                            <tr>
                                <td>${bas.bas_name}</td>
                                <td>${bas.dns_name or ''}</td>
                                <td>${bas.ip_addr}</td>
                                <td>${bas.bas_secret}</td>
                                <td>${bastype.get(str(bas.vendor_id))}</td>
                                <td>${{0:u"โซนเวลามาตรฐาน，ปักกิ่ง",1:u"เวลาและโซนเวลาเดียวกัน"}[bas.time_type]}</td>
                                <td>${bas.coa_port}</td>
                                <td>
                                    % if permit.match(current_user.username,'/admin/bas/update'):
                                    <a class="opt-btn btn-default" href="/admin/bas/update?bas_id=${bas.id}">แก้ไข</a>
                                    % endif
                                    % if permit.match(current_user.username,'/admin/bas/delete'):
                                    <a class="opt-btn btn-default" href="javascript:deleteBas('${bas.id}')">ลบ</a>
                                    % endif
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</%def>